<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-18" />
    <title>Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budget.css') }}">
</head>
<body style="background-color:lightgrey;">
    <div class="box">
        <div class="centered-text">
            <p style="color:rgb(255, 255, 255); font-size: 39px;">BUDGET!!
                 
            </p>
        <form action="{{ url_for('handle_data') }}" method="POST">
<div class="wox">
<div class="wigbox">
<br>
    <div class="wontainer">

        <div class="gox">
            <label>Monthly income:</label>
            <br>
            <br>

            <label>Expenses:</label>
            <br>
            <br>
            <label>Bills:</label>
            <br>
            <br>
            <label>Rent:</label>
            <br>
            <br>
            <label>Food:</label>
            <br>
            <br>
            <label>Transport:</label>
            <br>
            <br>
            <label>Fun:</label>
            <br>
            <br>
            <label>Charity:</label>

           </div>
        <div class="gox">
             <input type="number" id="income" name="income" min="1000" max="5000" class="large-input">
             <label>CAD</label>

<br>
<br>
<br>
  
            <input type="number" id="bills" name="bills" min="000" max="5000" class="large-input">
             <label>CAD</label>

            <br>
            <br>

            <input type="number" id="rent" name="rent" min="000" max="5000" class="large-input">
            <label>CAD</label>
            <br>
            <br>

            <input type="number" id="food" name="food" min="000" max="5000" class="large-input">
            <label>CAD</label>
            <br>
            <br>

            <input type="number" id="transport" name="transport" min="000" max="5000" class="large-input">
            <label>CAD</label>
            <br>
            <br>

            <input type="number" id="fun" name="fun" min="000" max="5000" class="large-input"> 
            <label>CAD</label>
            <br>
            <br>

            <input type="number" id="charity" name="charity" min="000" max="5000" class="large-input">
            <label>CAD</label>
            <br>
            <br>

</div>
    </div>
<div class="wox">
    <div class="bluetangle">
                <button type="submit">Submit</button>
</div>
</div>
</div>

</div>

</div>
</body>
</html> 