<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-18" />
    <title>Budget App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budget.css') }}">
</head>
<body style="background-color:lightgrey;">
    
    <div class="bigbox">
        <div class="box">
            <div class="centered-text">
                <p style="color:rgb(255, 255, 255); font-size: 39px;">Welcome to the budget app!
                    
                </p>
            </div>
        </div>
        <div class="container">
            <div class="nbox">
                <div class="vontainer">
                    <div class="menu">
                         <form action="{{ url_for('show_budget') }}" method="POST">
                            <button type="submit">Budget</button>
                           </form>
                    </div>
                    <div class="menu">
                         <form action="{{ url_for('show_goals') }}" method="POST">
                            <button type="submit">Savings Calculator</button>
                           </form>
                    </div>
                    <div class="menu">
                         <form action="{{ url_for('show_mortage') }}" method="POST">
                            <button type="submit">Mortgage</button>
                           </form>
                                               </div>

                    <div class="menu">
                         <form action="{{ url_for('show_simple') }}" method="POST">
                            <button type="submit">Simple</button>
                           </form>
                    </div>
                </div>
            </div>
        <div class="vontainer">
            <div class="bboxp1">
                <div class="container">
                    <br>
                    <div class="redtangle"> Income: {{income}} CAD</div>
                    <br>
                    <div class="redtangle"> Expenses: {{expenses}} CAD</div>
                    <br>
                    <div class="redtangle"> Savings: {{savings}} CAD</div>
                    <br>
            </div>
             <div class="bboxp1">

                    <br>
                    <div class="redtangle"> {{payment}} CAD in {{time}} months</div></div>

             <div class="bboxp1">

                    <br>
                    <div class="redtangle"> Pay: {{pamount}} CAD per month to finish mortgage in {{years}} years</div>
            </div>
             <div class="bboxp1">

                    <br>
                    <div class="redtangle"> You will have: {{samount}} CAD in {{sears}} years</div>
            </div>
        </div>
                </div>

    </div>
    
    

    
</body>
</html>