<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-18" />
    <title>Simple Interest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/budget.css') }}">
</head>
<body style="background-color:lightgrey;">
    <div class="box">
        <div class="centered-text">
            <p style="color:rgb(255, 255, 255); font-size: 39px;">Savings Calculator (Simple Interest)
                 
            </p>
<!-- NAVIGATION (separate, NOT inside form) -->
<div class="button-container">

<form action="{{ url_for('show_budget') }}" method="POST">
                            <button style="border: none; outline: none; color:rgb(3, 9, 113);" type="submit">Budget</button>
                           </form>
<form action="{{ url_for('show_mortgage') }}" method="POST">
                            <button style="border: none; outline: none; color:rgb(3, 9, 113);" type="submit">Mortgage Calculator</button>
                           </form>
<form action="{{ url_for('show_goals') }}" method="POST">
                            <button style="border: none; outline: none; color:rgb(3, 9, 113);" type="submit">Savings Calculator (Compound)</button>
                           </form>
</div>

<br>

<!-- ✅ MAIN FORM (ONLY ONE) -->
<form action="{{ url_for('handle_sata') }}" method="POST">                   <br>


<div class="wox">
<div class="wigbox">
<br>
    <div class="wontainer">

        <div class="gox">
            <label>Initial Deposit:</label>
            <br>
            <br>
            <label>Time (years):</label>
            <br>
            <br>
            <label>Interest Rate (simple):</label>
            <br>
            <br>

           </div>
        <div class="gox">
            <input type="number" id="ideposit" name="ideposit" min="000" class="large-input">
             <label>CAD</label>
            <br>

            <br>
            <input type="number" id="sears" name="sears" min="000" class="large-input">
            <br>
            <br>
            <input type="number" id="sate" name="sate" min="000" class="large-input">
             <label>%</label>
            <br>

            <br>


</div>
    </div>
<div class="wox">
    <div class="bluetangle">
                <button style="background-color: rgb(3, 19, 113); border-color: rgb(3, 19, 113); color: rgb(255, 255, 255); width: 200px; height: 60px; font-size: 20px;"type="submit">Submit</button>
</div>
</div>
</div>

<div class = "blank"></div>

                    <br>
                       <br>
<div class="bboxp2">
                <p style="color:rgb(0, 0, 0);">Estimate how simple interest grow your savings.</p>
                    <div class="bluetangle"> 
            <p style="color:rgb(255, 255, 255);">Projected Savings in {{sears}} years: <br> {{samount}} CAD</p></div></div>

</div>
</div>


</div>

</div>
</body>
</html> 